@import "../node_modules/bootstrap/less/bootstrap.less";
@font-face {
	font-family: fleshWound;
	src: url('../fonts/FleshWound.ttf');
}
@font-face {
	font-family: viking;
	src: url('../fonts/Viking_n.woff');
}

.make-column(@large, @medium, @small, @tiny: 16) {
	.make-xs-column(@tiny);
	.make-sm-column(@small);
	.make-md-column(@medium);
	.make-lg-column(@large);
}
.make-column-offset(@large, @medium, @small, @tiny) {
	.make-xs-column-offset(@tiny);
	.make-sm-column-offset(@small);
	.make-md-column-offset(@medium);
	.make-lg-column-offset(@large);
}

html {
	body {
	background: #d5c4ae;
	.make-column(12,12,12,12);
		.stick-bg.fix-bg {
			background-attachment: fixed !important;
		}
		#page-wrapper {
			.make-row();
			min-width: 1337px;

			#page {
				.make-column(12,12,12,12);
				background: url('../images/storvargen_cobble-bg.png') center no-repeat fixed;
				padding-top: 30px;

				
				#header {
					.make-row();

					.section {
						.make-column(12,12,12,12);
						#block-system-main-menu {
							.content {
								text-align:center;

								
								ul {
									margin: auto;
									padding: 0 0 45px 0;
									display: inline-block;
									background: url('../images/storvargen_shelf.png') center bottom no-repeat;
									min-width: 1210px;
									text-align:center;

									li {
										display: inline-block; 
										margin: 0;
										padding: 0;

										a.home-link {
											content: url('../images/storvargen_nav_banner.png');
										}
										a.gallery-link {
											content: url('../images/storvargen_nav_gallery.png');
										}
										a.encyclopedia-link {
											content: url('../images/storvargen_nav_encyclopedia.png');
										}
										a.contact-us-link {
											content: url('../images/storvargen_nav_contact-us.png');
										}
										a.archive-link {
											content: url('../images/storvargen_nav_archive.png');
										}
									}

									&::before {
										content: url('../images/storvargen_nav_left_bookend');
									}

									&::after {
										content: url('../images/storvargen_nav_right_bookend');
									}
								}
							}
						}
						.update-schedule {
							.content {
								width: 1210px;
							    text-align: center;
							    margin: auto;
							    background: #3f3122;
							    border: 1px solid black;
							    font-family: viking;
							    font-size: 26px;
							    color: black;

							    p {
							    	margin:2px 0;
							    }
							}
						}
					}
				}

				#main-wrapper {
					.make-row();

					.system-content {
						margin-top: 10px;
						width: 100%;
						background: url('../images/storvargen_divider.png') center top repeat-x, url('../images/storvargen_left_wolf.png') left top 38px no-repeat #d5c4ae;

						#content{
							margin-left: 225px;
							margin-top: 35px;
						}
					}
					#content {

						.node-comic-page {
							text-align:center;


							.content:first-child {
								display: inline-block;
								background: url('../images/storvargen_scroll-bg.png') center no-repeat;
								min-width: 1004px;
								min-height: 1296px;
								
								.comic-page-nav {
									font-family: fleshWound;
									font-size: 55pt;
									padding: 0 110px;

									&.top {
										margin-bottom: 62px;
										margin-top: 10px;
									}
									&.bottom {
										margin-top: 48px;
									}
									a {
										color: black;
										line-height: 1.0;

										&:link, &:visited, &:hover, &:active  {
											text-decoration: none;
											color: black;
										}

										&.left {
											float: left;
											margin-right: 65px;
										}
										&.right {
											float: right;
											margin-left: 65px;
										}
									}
								}
								.field-name-field-comic-page-image {
									
								}
							}

							#comments {
								width: 100%;
								min-height: 475px;
								margin: auto;
								background: url('../images/storvargen_divider.png') center top repeat-x, url('../images/storvargen_comment_wolf.png') center top 38px no-repeat #d5c4ae;
								
								display: inline-block;

								#sticky-wrapper {
									width:738px;
									margin: auto;
								}

								.left-wolf {
									background: url('../images/storvargen_left_wolf.png') no-repeat;
									height: 432px;
									width: 218px;
									float: left;
								}
								.right-wolf {
									background: url('../images/storvargen_right_wolf.png') no-repeat;
									height: 430px;
									width: 224px;
									float: right;
								}
								h2.title:first-of-type {
									padding-top: 30px;
									background: url('../images/storvargen_divider.png') center top no-repeat, url('../images/storvargen_comments_bg.png') center bottom 3px no-repeat #d5c4ae;
									font-family: viking;
									text-transform: uppercase;
									padding-bottom: 30px;
									font-size: 37pt;
									line-height: 1.0;
									color: black;
									width: 738px;
									margin: auto;
								}
								#disqus_thread {
									width: 710px;
									margin: auto;
								}
							}
						}

						.basic-content {
							.clearfix;
							margin-top: 10px;
							width: 100%;
							background: url('../images/storvargen_divider.png') center top repeat-x, url('../images/storvargen_left_wolf.png') left top 38px no-repeat #d5c4ae;

							#sticky-wrapper {
									width:1142px;
									margin-left: 195px;
									margin-right: auto;
							}
							.page-title {
								padding-top: 125px;
								background: url('../images/storvargen_divider.png') center top no-repeat, url('../images/static-title-bg.png') center top 92px repeat-x #d5c4ae;
								font-family: viking;
								text-transform: uppercase;
								padding-bottom: 15px;
								font-size: 37pt;
								line-height: 1.0;
								color: black;
								width: 1265px;
								margin: auto;
							}
							.content-wrapper {
								width: 1030px;
								margin-left: 312px;
								margin-right: auto;
							}
							.content-section {
								background: url('../images/section-break.png') center top no-repeat;
								.clearfix;
								padding-top: 20px;
								padding-bottom: 20px;
								margin-top:20px;
							}

							.view-contact-us-view {
								.views-row {
									width: 700px;
									margin: auto;
								}
								img {
									.img-rounded;
								}
								.views-field-picture {
									float:left;
									margin-right: 15px;
								}
								.views-field-field-name {
									float:left;
									margin-right: 15px;
									width: 30%;
									text-align: center;

									.name {
										font-family: viking;
										font-size: 1.5em;
									}
									.title {
										font-family: viking;
									}
								}
								.views-field-field-blurb {
									float:left;
								}
							}

							.view-gallery-view {
								.view-content {
									text-align: center;

									h3 {
										font-family: viking;
									}

									.content-section {
										.views-row {
											display: inline-block;
										}
									}
								}
							}

							.view-library {
								a {
									color: grey;
									line-height: 1.0;

									&:link, &:visited, &:hover, &:active  {
										text-decoration: none;
										color: grey;
									}
								}
								.view-grouping-header {
									text-align: center;
									font-family: viking;
									font-size: 1.8em;
								}
								.view-grouping-content {
									.content-section;
									margin-top:5px;
									width: 700px;
									margin: auto;

									ul {
										li {
											&:before {
												content: '-';
											}
											&.views-row-first {
												&:before {
													content: none;
												}
											}
										}
									}
								}
							}

							.view-encyclopedia {
								ul.list { 
									list-style-type: none; 
									li { 
										text-indent:-5px; 
										
										a {
											color: grey;
											line-height: 1.0;

											&:link, &:visited, &:hover, &:active  {
												text-decoration: none;
												color: grey;
											}
										}
									}
								}
								.node {
									h2 {
										text-align: center;
										font-family: viking;
									}
									.content {
										.content-section;
										margin-top: 5px;
										margin: auto;
										width: 700px;

										.field {
											float: right;
											clear: right;
											width: 45%;

											&.field-type-image {
												float:left;
												clear:none;
												width: auto;
											}

											.field-label {
												text-align: left;
												font-family: viking;
												text-decoration: underline;
												font-size: 1.3em;
											}
										}
									}
								}
							}

							.node-gallery {
								.field-type-image {
									text-align: center;
								}
								.field-name-body {
									.content-section;
									width: 700px;
									margin: auto;
								}
							}

							&#comic-archive {
								.chapter-block {
									width: 700px;
									margin: auto;
									.chapter-thumbnail {
										float: left;
										margin-right: 5px;
									}
									.chapter-content-right {
										float:left;
										.title {
											font-family: viking;
											margin-top: 7px;
										}
										.description {
											font-family: Times;
											font-size: 14px;
										}
										.links {
											ul {
												padding: 0;
												li {
													display: inline;

													a {
														color: black;
														line-height: 1.0;

														&:link, &:visited, &:hover, &:active  {
															text-decoration: none;
															color: black;
														}
													}
													&::before {
														content: " - ";
													}
													&.first {
														&::before {
															content: "Pages: ";
														}
													}
												}
											}
										}
									}
								}
							}

						}
					}

				}

				#footer-wrapper {
					.make-row();

					.section {
						.make-column(12,12,12,12);
					}

				}
			}
		}
	}
}